<div class="row">
    <div class="col-lg-12">
      <div style="height: 350px;">
        <div class="card">
          <div class="row justify-content-between">
            <div class="col-lg-12 text-center">
              <h6 >
                {{ title }}
              </h6>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <canvas baseChart class="chart"
                      [data]="barChartData"
                      [options]="barChartOptions"
                      [type]="barChartType"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  